.header {
  height: 45px;
  padding: 0;
  background-color: #f6f5f6;
}

.header :global(.icon-back) {
  font-size: 16px;
  color: #999;
}

/* .header :global(.icon-map) {
  color: #00ae66;
}

.header :global(.search) {
  height: 30px;
} */

.searchHeader {
  position: relative;
  top: 0;
  padding: 0;
}

.searchHeader :global(.icon-map) {
  color: #00ae66;
}

.searchHeader :global(.search) {
  height: 30px;
}
